.container {
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  overflow: hidden;

  .item {
    cursor: pointer;
    background-color: white;
    padding: 15px;
    border-bottom: 1px solid #e1e1e1;

    h4 {
      margin: 0;
      font-size: 14px;
    }

    p {
      margin: 10px 0 0;
      font-size: 14px;
    }

    &:last-of-type {
      border-bottom: none;
    }
  }
}
